---
name: goreleaser-bump

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "GoReleaser version tag (e.g., v2.13.2)"
        required: true

jobs:
  goreleaser-bump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - run: git checkout master

      - name: Setup git config
        run: |
          git config --global user.name github-actions
          git config --global user.email "github-actions@github.com"

      - name: Update version in .goreleaser.yaml
        run: |
          sed -i -e "s/GORELEASER_VERSION=.*/GORELEASER_VERSION=${{ github.event.inputs.tag }}/g" .goreleaser.yaml

      - name: Commit new version
        run: |
          if git add .goreleaser.yaml > /dev/null 2>&1; then
            git commit -m "feat: bump goreleaser to v${{ github.event.inputs.tag }}"
            git push origin master
          fi
